*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/plugins
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/plugins
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/.claude
/dist
/sikampus-manifest.json
/scripts
